#logo {
	padding-top: 5px;
	margin-left: 20%;
}
.sinpermiso {
	margin-top: 10px;
	font-weight: 600;
	color: red;
}

.tooltip {
    position: fixed;
}

#calendar {
  max-width: 900px;
  margin: 0px auto;
  padding: 0 0px;
  padding-top: 15px;
}
#logo{padding-top:5px;}

#external-events {
  padding-top: 5px;
  background: #eee;
  width: 100%;
  text-align:left;
}

#external-events .fc-event {
  margin: 0px 0;
  cursor: pointer;
}
@media print {
  .noprint {display:none;}
}
#calendar .fc-time-grid-container {
  height: auto !important;
}
.date_picker {
    cursor: pointer;
}